/* .nav-link {
    color: #ffffff;
}

.nav-link:hover{
    color: #D0D3D4;
} */

.navbar {
    background-color: #002d62;
}

#logo {
    max-height: 8.5vh;
}

#principal{
    margin-top: 2vh;
}

#profilepic {
    max-width: 90vw;
}

.text-justify {
    font-style: italic ;
    font-family: serif;
}